<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <cache>false</cache>
  <max-age>2628000</max-age>
  <resources>
      <downloadable-formats>css,js,html,htm,png,jpg,jpeg,gif,swf,htc,otf,woff,ico</downloadable-formats>
  </resources>
  <packager>
    <minification>MINIFY</minification>
  </packager>
  <custom-components>
    <!-- paths from solution with cde component definitions to be loaded-->
    <path>system/pentaho-cdf-dd/resources/custom/components</path>
    <path>cde/components</path>
<!--    <path>system/cdc/cdeComponents</path>-->
  </custom-components>
</settings>
