build/
dist/
server/plugin/lib/
server/plugin/runtime-lib/
server/plugin/test-lib/
server/plugin/bin/
server/plugin/override.properties
server/plugin/resource/resources/cdf-dd.html
server/plugin/resource/resources/ext-editor.html
server/plugin/resource/images/
server/plugin/resource/js/
server/plugin/resource/css/
server/plugin/resource/includes.properties
server/plugin/resource/resources/scripts.html
server/plugin/resource/resources/styles.html
nbproject/private/
.DS_Store
*~
/server/plugin/resource/resources/base/export
/server/plugin/runtime-lib/
/bin

#Eclipe project files
.classpath
.project
.settings
.metadata/

#Intellij IDEA project files
*.iml
.idea

.ant-targets-build.xml


cde-core/bin
cde-pentaho/bin
cde-pentaho5/bin
cde-core/lib
cde-pentaho/lib
cde-pentaho5/lib
cde-core/runtime-lib
cde-pentaho/runtime-lib
cde-pentaho5/runtime-lib
cde-core/test-lib
cde-pentaho/test-lib
cde-pentaho5/test-lib

