body {
  background:#2D2D2D;
}

a {
  outline: none;
  text-decoration:  none;
}

li {
  line-height: 2em;
}

li a {
  text-decoration: none;
}

div.outside {

  padding:10px;
  background:#2D2D2D;

}
div.container {
}

div.padder {
  padding: 5px;
}

div.cdfdd-toolbar {
  text-align: center;
  height: 106px;
  /*	padding-top:5px;*/
  /*padding-bottom: 5px;*/
  background-image: url('../images/NAV/CDE_Header.png');
}

#cde-header.source-image {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*	top: 0;
	left: 0;*/
}

#cde-header {
  z-index: -1;
}

div.cdfdd-preview, div.cdfdd-main, div.cdfdd-modes, div.cdfdd-logo {
  /*background:#E2F0B7;*/
  /*	padding-top:5px;*/
  /*padding-bottom: 5px;*/
  /* margin-top:31px;*/
  /*	top:0;*/
  /*  position: absolute;*/
  top:31px;
}

div.cdfdd-modes {
  margin-right : 10px;
}

div.cdfdd-main {
  margin-top:35px;
}

#keyboard_shortcuts_help{

  background-color: black;
  color: white;
  font-family: "monaco,courier new,monospaced";
  padding: 0pt;
  font-size: 12px;
  position: absolute;
  opacity: 0.9;
  top: 15px;
  left: 15px;
  z-index: 1000;
  border: 1px solid #194E65;
}

#keyboard_shortcuts_help h4 {
  color:#0091F6;
}

#keyboard_shortcuts_help p span {
  clear:both;
  display:block;
  float:left;
  width:200px;
}

#keyboard_shortcuts_help span {
  clear:both;
  display:block;
}




#cdfdd-main-Reload {
  padding-left: 20px;
  padding-right: 20px;
}


div#cdfdd-panels {
  margin: -10px;
  padding: 10px;
  /*background:#2A2F31;*/
  background: url("sunny/images/ui-bg_flat_60_2d2d2d_40x100.png") repeat-x scroll 50% 50% #2D2D2D;
  min-height: 400px;
}

tbody.ui-widget-content {
  /*background: #2a2f31;*/
  border: 1px solid #1999D1;
}

div.cdfdd-panel {
  display: none;
}

.panel-title {
  color: #9A9A9A; /*TODO: unspecified*/
}

div.ui-widget-content > ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding-left:0;
}

div.ui-widget-content > ul li {/*TODO...*/
   /* padding-left:30px;  After the integration with cdf, this stopped making sense */
}

.multiSelectOptions label {
  color: #2a2f31;
}

li.ui-state-hover {
  border:medium none !important;

}

.ui-widget-content li:hover{
  background: url("sunny/images/ui-bg_flat_100_203741_40x100.png") repeat-x scroll 50% 50% #203741;
}

.ui-widget-content li:hover a
{
  color: #eeeeee;
}

.ui-widget-content tr.ui-state-active {
  background: url("sunny/images/ui-bg_flat_100_203741_40x100.png") repeat-x scroll 50% 50% #203741;
}

hr.hr-hidden{
  background:#2D2D2D;
}

div.spacer {
  height: 5px;
}

.centeredText {
  text-align: center;
}

div.cdfdd-operations{

  padding-bottom: 5px;
}

#wizardDialog {
  display: none;

  top: 10px;
  left: 50%;

  margin-left: -475px;
  width: 960px;

  background:#2D2D2D;
  color: #e1e1e1;
  border: 1px solid black;

  height:550px;

}

#wizardDialog caption {
  caption: 20px;
}

#wizardDialog h3 {
  margin-bottom: 0px;
}

#wizardDialog h1, #wizardDialog h2, #wizardDialog h3 {
  color: #e1e1e1;
}

#wizardDialog select {
  width: 180px;
  margin-bottom: 0px;
}

#cdfdd-component-options .cdfdd-component-options-label {
  position:relative;
  left:10px;
}
#cdfdd-component-options .cdfdd-component-options-chartType{
  width: 130px;
  position:relative;
  left:9px;
  margin-bottom: 0px;
}

#cdfdd-component-options .cdfdd-component-options-type{
  width: 130px;
  position:relative;
  left:42px;
  margin-bottom: 0px;
}

#cdfdd-component-options .cdfdd-component-options-htmlobject{
  width: 130px;
  position:relative;
  left:4px;
  margin-bottom: 0px;
}

#cdfdd-component-options .cdfdd-component-options-topCount{
  width: 130px;
  position:relative;
  left:11px;
  margin-bottom: 0px;
}

#cdfdd-component-options .cdfdd-component-options-orientation{
  width: 130px;
  position:relative;
  left:09px;
  margin-bottom: 0px;
}

#cdfdd-component-options hr {
  background-color:#2D2D2D;
  position:relative;

  top: 8px;
  height:4px;

}


#wizardDialog .invalid {
  border-color: red;
}


div#cdfdd-olap-preview{
  border:1px solid #333333;
  height:230px;
  width:500px;
  text-align: center;
  vertical-align: bottom;
  padding-top:5px;
  margin-top:5px;
  overflow:auto;
  background: none repeat scroll 0 0 #FFFFFF;
  color: #333333;
}
div#cdfdd-olap-preview.disabled{
  border:1px solid #999999;
  color: #999999;
  background:#2A2F31;
}

div.cdfdd-wizard-title {
  background:#2A2F31;
  padding-top:5px;
  padding-bottom: 5px;
  height: 30px;
  text-align: center;
}

div.cdfdd-wizard-olap-cubes, div.cdfdd-wizard-olap-dimensions, div.cdfdd-wizard-olap-measures {
  background:#2A2F31;
  padding-top:5px;
  padding-bottom: 5px;
}

div.cdfdd-wizard-olap-dimensions, div.cdfdd-wizard-olap-measures {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.cdfdd-wizard-olap-cubes {
  height: 75px;
}

div.cdfdd-wizard-left, div.cdfdd-wizard-buttons {
  background:#2D2D2D;
  padding-top:5px;
  padding-bottom: 5px;
}

div.cdfdd-wizard-buttons {
  text-align: right;
}

.cdfdd-wizard-filter-label {
  position:relative;
  float:left;
}

.cdfdd-wizard-filter-options .cdfdd-wizard-filter-option {
  position:relative;
  float:left;
  padding-left:5px;
}

.cdfdd-wizard-filter-clear {
  float:left;
  top: 3px;
  position:relative;
  width: 7px; height: 7px;
  background: url(../images/clear.gif)
}

div#cdfdd-olap-main {
  background:#2A2F31;
  height: 335px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#cdfdd-olap-main-filter{
  background:#2A2F31;
  height: 449px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

div.cdfdd-olap-droppable{
  background:#2A2F31;
  height: 68px;
  margin-top: 5px;
  padding-top: 1px;
  overflow-y:auto;
  overflow-x:hidden;
}

div.cdfdd-wizard-components-options{
  background:#2A2F31;
  height: 455px;
  width: 220px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

div.cdfdd-olap-droppable-inactive{
  background:#dddddd;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

#cdfdd-olap-main select{
  width: 130px;
  margin-bottom: 0px;
}

#cdfdd-olap-main input{
  margin-bottom: 0px;
}

div#cdfddOlapDimensionDiv{
  height:362px;
  overflow: auto;
}

div#cdfddOlapMeasureDiv{
  height:100px;
  overflow: auto;
}

table#cdfddOlapMeasureSelector{
  line-height: 1em;
}
table#cdfddOlapDimensionSelector{
  line-height: 1em;
}

table#cdfddOlapFilterSelector{
  line-height: 1em;
}

div.cdfdd-wizard-buttons input {
  background-color:#FFFFFF;
  border:1px solid #999999;
  color: #000000;
  width: 80px;
  height: 25px;
  outline: none;
  text-decoration:  none;
  margin-left: 5px;
  overflow: visible;
}

div.cdfdd-wizard-buttons input[disabled] {
  background-color: #dddddd;
}

.jqmWindow {
  z-index: 100;
}

ul.autobox-list{
  z-index: 100;
}



/* TABLE
 * ========================================================================= */

table.cdfdd{
  border-collapse:separate;
}

table tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}


form.cdfddInput input, form.cdfddInput button, form.cdfddInput select, button.cdfddInput {
  background-color:#FFFFFF;
  border:1px solid #999999;
  color:#000000;
}

form.cdfddInput input {
  font-size: 13px;
  height: 15px;
}

button.cdfddInput {
  width: 18px;
  height: 16px;
}

textarea.cdfddEdit{
  width: 786px;
  height: 340px;
  background-color: #eeeeee;
  font-size: 11px;
}

.cdfdd-wizard-prompt-preview-results{
  width: 590px;
  height: 400px;
  overflow: auto;
}

.cdfdd-wizard-prompt-preview-results span {
  background-color: #eeeeee;
}

.cdfdd-wizard-prompt-left-section {
  background:#2A2F31;
  height: 435px;
  margin-bottom: 5px;
  overflow: auto;
}

.cdfdd-wizard-prompt-center-section, .cdfdd-wizard-prompt-right-section{ 
  background:#2A2F31;
  height: 435px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.prompt-wizard-textarea {
  width:  680px;
  height:  405px;
  overflow:  auto;
  position:relative;
  left: 10px;
  font-size: 12px;
}

.prompt-wizard-functions {
  padding-top:10px;
}

.prompt-wizard-elements {
  line-height: 1.3em;
}


div.prompt-wizard-preview{ 
  width: 600px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #ffffff;
  font-size: 11px;
  text-align: left;
  border: solid 1px #eeeeee;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 7px;
}
div.prompt-wizard-preview .prompt-wizard-previewcontainer{ 
  font-weight: bold;
}
div.prompt-wizard-preview .prompt-wizard-previewclose{ 
  position: absolute;
  top: 4px; right: -2px;
  width: 18px;
  cursor: default;
  color: #bbbbbb;
  font-weight: bold;
}
div.prompt-wizard-preview .prompt-wizard-previewmessage{ 
  padding: 10px;
  line-height: 20px;
  color: #444444;
}
div.prompt-wizard-preview .prompt-wizard-previewbuttons{ 
  text-align: right;
  padding: 5px 0 5px 0;
  border: solid 1px #eeeeee;
  background-color: #f4f4f4;
}
div.prompt-wizard-preview button{ 
  padding: 3px 10px;
  margin: 0 10px;
  background-color: #2F6073;
  border: solid 1px #f4f4f4;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}
div.prompt-wizard-preview button:hover{ 
  background-color: #728A8C;
}
div.prompt-wizard-preview button.prompt-wizard-previewdefaultbutton{ 
  /*background-color: #8DC05B;*/
  background-color: #BF5E26;
}
.prompt-wizard-previewwarning .prompt-wizard-preview .prompt-wizard-previewbuttons{ 
  background-color: #BF5E26;
}

.cdf_settings_input {
  width:370px;
}

.cdf_settings_textarea{
  width:360px;
  height:100px;
}

.urlTemplateParametersLabel {
  float:left;
  position:relative;
  top:10px;
}

.linkToAnotherDashboardlabel {
  left:10px;
  position: relative;
}

.linkToAnotherDashboardinput1{
  position: relative;
  top:1px;
  left:13px;
  width: 200px;
}

.linkToAnotherDashboardinput2{
  position: relative;
  top:1px;
  left:48px;
  width: 200px;
}


.urlTemplateInput {
  width:380px;
  height:200px;
}

.utlTemplateTargetInput {
  width:300px;
}

.simpleProperties{
  position: relative;
  float:left;
}

.advancedProperties{
  position: relative;
  float:left;
}

.propertiesSelected {
  font-size:13px;
}

.propertiesUnSelected {
  font-size:10px;
  position:relative;
  top:2px;
  text-decoration: underline;
  cursor:pointer ;
}

.cdfdd-olap-measures, .cdfdd-olap-filters  {
  position:relative;
  float:left;
  left: 10px;
  border: 1px solid #655e4e;
  background: #ffffff ;
  width:103px;
  font-size:11px;
  color: #0074c7;
  height:18px;
  white-space:pre;
  margin-bottom: 3px;
  margin-left: 5px;
}

.cdfdd-olap-dimensions{
  position:relative;
  float:left;
  left: 9px;
  border: 1px solid #655e4e;
  background: #ffffff ;
  width:225px;
  font-size:11px;
  color: #2d2d2d;/*#0074c7;*/
  height:18px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.cdfdd-olap-dimensions .image-right{
  position:relative;
  float:left;
  width:15px;
  height:15px;
  top:2px;
}

.cdfdd-olap-dimensions .image-left{
  position:relative;
  float:left;
  width:15px;
  height:15px;
  margin-left: 7px;
  left:2px;
  top:1px;
}

#cdfdd-olap-rows select , #cdfdd-olap-columns select, #cdfdd-olap-filters select {
  position:relative;
  float:left;
  width:125px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:2px;
  font-size:11px;
}

.cdfdd-olap-dimensions-label{
  position:relative;
  float:left;
  margin-left: 1px;
  width:59px;
  white-space:pre;
  font-size:11px;
}


.cdfdd-olap-clearButton{
  position:relative;
  float:left;
  width: 10px;
  left: 15px;
}

.cdfdd-olap-space{
  height:20px;
  width:190px;
}

.cdfdd-resourceFileNameRender {
  width:210px;
  float:left;
}

.cdfdd-resourceFileExplorerRender {
  background-color:#FFFFFF;
  border:1px solid #999999;
  color:#000000;
  position:relative;
 /* left:10px;*/
  width: 18px;
  height: 16px;
}

#cdfdd-layout-properties,#cdfdd-layout-tree, 
#cdfdd-components-components,#cdfdd-components-properties,
#cdfdd-datasources-properties,#cdfdd-datasources-datasources {
  overflow:auto;
}

table.cdfdd caption {
  height: 30px;
  /*padding-top: 0px;*/
}


#cggDialog {

    display: none;
    width: 400px;
    margin-left: -200px;
    position: absolute;
    left: 50%;
    top: 15%;
    height: auto;
    background: #ddd;
    padding: 10px;
}

#cggDialog .cggDialogClose{
    margin-top: 10px;
}

#cggDialog button{
    background: white;
    border: 1px solid black;
    float: right;
    padding: 0px;
}

#cggDialog button.active{
    background: #bbb;
}


#cggDialog input[type=text]{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    font-size: 9px;
    
}

#cggDialog .urlPreviewer{
  
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  max-height: 40px;
  overflow: hidden;
  clear: both;
}

#cggDialog .urlPreviewer.collapsed{
  max-height: 0px;
}


/* Changes made for adding About Button */

.footer {
	background-image: url('../images/footerCde.png');
	line-height: 41px;
	vertical-align: middle;
}


.webdetailsLogo {
	float: right;
	margin-right: 20px;
	vertical-align: middle;
}

.webdetailsLogo img {
	vertical-align: middle;
}


.footer .button {
    -moz-transition: all 0.5s ease 0s;
    color: #8A8A8A;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.07em;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 3px #111111, 0 0 3px #111111;
    vertical-align: middle;
    font-family: arial;
}
.footer .button:hover {
    color: #0098C4;
    text-shadow: 0 0 12px #0AC5FB, 0 0 12px #0B99D5;
}
