body {
    background-color: #ddd
}
.mask{
    width:320px;
    height:auto;
    overflow: hidden;
}

.mask > div {
    position:relative;
}

.item{
    display: inline-block;
    width:300px;
    height:300px;
    margin:10px;
}

.item1 {background-color: #faa;}
.item2 {background-color: #afa;}
.item3 {background-color: #aaf;}
.item4 {background-color: #ffa;}
.item5 {background-color: #faf;}

.bounce {
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-duration: 200ms;
  -moz-iteration-count: 1;
}

.bounce-first {
  -webkit-animation-name: bounce_first;
  -moz-animation-name: bounce_first;
}

.bounce-last {
  -webkit-animation-name: bounce_last;
  -moz-animation-name: bounce_last;
}

@-webkit-keyframes bounce_first {
  0% {left:0px;}
  50% {left:100px;}
  100% {left:0px;}
}

@-webkit-keyframes bounce_last {
  0% {margin-left:0px;}
  50% {margin-left:-100px;}
  100% {margin-left:0px;}
}

@-moz-keyframes bounce_first {
  0% {left:0px;}
  50% {left:100px;}
  100% {left:0px;}
}

@-moz-keyframes bounce_last {
  0% {margin-left:0px;}
  50% {margin-left:-100px;}
  100% {margin-left:0px;}
}



ul.cdfCarousel {
  padding: 10px 0px;
  list-style:none;
  display:block;
  float:left;
}

ul.cdfCarousel.showTitle .cdfCarouselItemTitle {
  text-align: center;
  width: 100%;
  padding: 2px 5px;
  height: 18px;
  font-size: 15px;
/*
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #3c3c3c), color-stop(1, #111111));
  background-color: #000;
*/
margin-bottom: 3px;
}


ul.cdfCarousel:not(.showTitle) .cdfCarouselItemTitle {
  display:none;
}

li.cdfCarouselItem {
  display: inline-block;
  float:left;
  text-align: center;
  min-height:1px;
}

li.cdfCarouselItem.hidden {
  height: 1px;
  overflow:hidden;
}

div.status {
  margin-top: 20px;
  width:100%;
  text-align: center;
}
div.statusBullets {
  display: inline-block;
  -webkit-padding-start: 0;
}

div.cdfCarouselItemContent {
  margin: 0px auto;
}

div.status div.nav {
  display: inline-block;
  width: 57px;
  height: 36px;
}

div.status div.prev {
  float: left;
  margin-left: 15px;
  background-image: url('img/buttons/left_enabled.png');
}

div.status div.next {
  float: right;
  margin-right: 15px;
  background-image: url('img/buttons/right_enabled.png');
}

div.status div.prev.disabled {
  background-image: url('img/buttons/left_disabled.png');
}

div.status div.next.disabled {
  background-image: url('img/buttons/right_disabled.png');
}

div.statusBullets div.statusBullet {
  background-color: #727272;
  display: inline-block;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  box-shadow: inset -1px 0px 2px black;
  -webkit-box-shadow: inset -1px 0px 2px black;
  margin: 10px 4px;
}

div.statusBullets div.statusBullet.active {
  background-color: white;
  box-shadow: inset -1px 0px 2px black;
}
