<div class="filter-group-header
            {{#isPartiallySelected}} some-selected{{/isPartiallySelected}}
            {{^isPartiallySelected}}
            {{#isSelected}} all-selected{{/isSelected}}
            {{^isSelected}} none-selected{{/isSelected}}
            {{/isPartiallySelected}}
            ">

  {{#showButtonCollapse}}
    <div class="filter-collapse-icon
                {{#isCollapsed}} collapsed{{/isCollapsed}}
                {{^isCollapsed}} expanded{{/isCollapsed}}
                " />
  {{/showButtonCollapse}}

  <div class="filter-group-title">
    {{{label}}}
  </div>

  <div class="filter-controls">
    {{#showFilter}}
      <div class="filter-filter">
        <input type="text" class="filter-filter-input" />
        <div class="filter-filter-icon" />
        <div class="filter-filter-clear" />
      </div>
    {{/showFilter}}
    {{#showCommitButtons}}
      <div class="filter-controls-buttons">
        <div class="filter-controls-button">
          <button class="filter-btn-cancel">{{strings.btnCancel}}</button>
        </div>
        <div class="filter-controls-button">
          <button class="filter-btn-apply">{{strings.btnApply}}</button>
        </div>
      </div>
    {{/showCommitButtons}}
  </div>


  {{#allowGroupSelection}}
    <div class="filter-group-selection">

      <div class="filter-group-selection-icon
                  {{#isPartiallySelected}} some-selected{{/isPartiallySelected}}
                  {{^isPartiallySelected}}
                  {{#isSelected}} all-selected{{/isSelected}}
                  {{^isSelected}} none-selected{{/isSelected}}
                  {{/isPartiallySelected}}
                  " />

      <div class="filter-group-label">
        {{strings.groupSelection}}
      </div>


    </div>
  {{/allowGroupSelection}}
  {{#showValue}}
    <div class="filter-group-selection-value">
      {{{value}}}
    </div>
  {{/showValue}}


</div>
