<div class="filter-group-container {{className}}">

  <div class="filter-group-header"/>

  <div class="filter-group-body">
    <div class="filter-group-items-container">
      <div class="filter-group-items"></div>
    </div>
  </div>

  <div class="filter-group-footer">
    {{#showPagination}}
    <button class="filter-btn-more-data">More...</button>
    {{/showPagination}}
    {{{footer}}}
  </div>

</div>
