<div class="filter-root-header
            {{#isPartiallySelected}} some-selected{{/isPartiallySelected}}
            {{^isPartiallySelected}}
            {{#isSelected}} all-selected{{/isSelected}}
            {{^isSelected}} none-selected{{/isSelected}}
            {{/isPartiallySelected}}
            ">
  <div class="filter-root-header-label"
       {{#showTooltip}}
       title="{{#header}}{{{header}}}{{/header}}{{^header}}{{#selectedItems}}{{{.}}}{{/selectedItems}}{{/header}}"
       {{/showTooltip}}
       >

    {{#isDisabled}}
      {{{strings.isDisabled}}}
    {{/isDisabled}}

    {{^isDisabled}}
      {{#showSelectedItems}}
        <span class="filter-root-info-selected-items">
          {{^noItemsSelected}}
            <span class="filter-root-info-selected-item"
                  title="{{#selectedItems}}{{{.}}} {{/selectedItems}}"
                  >
              {{#selectedItems}}
                {{{.}}}
              {{/selectedItems}}
            </span>
          {{/noItemsSelected}}
          {{#noItemsSelected}}
            <span class="filter-root-info-selected-item">
              {{{strings.noItems}}}
            </span>
          {{/noItemsSelected}}
        </span>
      {{/showSelectedItems}}


      {{#showNumberOfSelectedItems}}
        {{#allItemsSelected}}
          <span class="filter-root-info-selected-items">
            {{{strings.allItems}}}
          </span>
        {{/allItemsSelected}}

        {{#noItemsSelected}}
          <span class="filter-root-info-selected-items">
            {{{strings.noItems}}}
          </span>
        {{/noItemsSelected}}

        {{^allItemsSelected}}
          {{^noItemsSelected}}
            <span class="filter-root-info-selected-items">
              <span class="filter-root-info-number-selected-items">
                {{numberOfSelectedItems}}
              </span>
              <span class="filter-root-info-number-items">
                &nbsp;/&nbsp;{{numberOfItems}}
              </span>
            </span>
          {{/noItemsSelected}}
        {{/allItemsSelected}}
      {{/showNumberOfSelectedItems}}
    {{/isDisabled}}
  </div>
  <div class="filter-collapse-icon
              {{^isDisabled}}
              {{^alwaysExpanded}}
              {{#isCollapsed}} collapsed{{/isCollapsed}}
              {{^isCollapsed}} expanded {{/isCollapsed}}
              {{/alwaysExpanded}}
              {{#alwaysExpanded}} always-expanded{{/alwaysExpanded}}
              {{/isDisabled}}

              {{#isDisabled}} disabled{{/isDisabled}}

              " />
</div>
