/**
 *
**/

.map-container .olDragBox,
.map-container .olDragDown {
    cursor: inherit;
}
.map-container.olMap.pan .olDragDown {
    cursor: inherit;
}

.map-container.olMap.zoombox .olDragDown{
    cursor: inherit;
}

.map-container .olControlAttribution {
    bottom: 3px;
}

.olMap .olHandlerBoxZoomBox,
.olMap .olHandlerBoxSelectFeature {
    border: 2px solid #2469B0;
    background-color: rgba(36, 105, 176, 0.21);
}

.olControlLayerSwitcher.olControlNoSelect,
.olControlMousePosition.olControlNoSelect {
    display: none;
}

/**
 * Styling of popups
 */

#featurePopup394246 {
    border: 3px solid #394246 !important;
}

#featurePopup11b4eb {
    border: 3px solid #11b4eb !important;
}

#featurePopup7a879a {
    border: 3px solid #7a879a !important;
}

#featurePopupe35c15 {
    border: 3px solid #e35c15 !important;
}

#featurePopup674f73 {
    border: 3px solid #674f73 !important;
}
