/*!
 * Copyright 2018 Webdetails, a Hitachi Vantara company. All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

body.dashboard-example {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 13px;
}

.dashboard-example .panel-body {
  padding: 0;
  height: 100%;
  display: block;
  float: left;
}

/*------------------HEADER------------------*/
.dashboard-example .panel-default {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.dashboard-example .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

.dashboard-example .panel-heading:after {
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  min-width: 100%;
  width: 1200px;
  height: 72px;
  z-index: -1;
}

.dashboard-example .headerTitle {
  height: 72px;
  line-height: 72px;
  font-size: 18px;
  color: #414141;
  overflow: hidden;
  margin-bottom: 40px;
}

.dashboard-example .container {
  min-width: 1200px;
}

.dashboard-example .contactUsButton {
  float: right;
  font-size: 13px;
  background-color: #146bd2;
  color: #f9f9f9;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 0px;
  border-radius: 2px;
  text-align: center;
  margin-top: 17px;
  cursor: pointer;
}

.dashboard-example .contactUsButton a,
.dashboard-example .contactUsButton a:hover,
.dashboard-example .contactUsButton a:active {
  color: #f9f9f9;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard-example .contactUsButton:hover {
  background-color: #4389db;
  color: #f9f9f9;
}

.dashboard-example .contactUsButton:hover:active {
  background-color: #0b60d1;
}

.dashboard-example .contactUsButton:active {
  background-color: #0b60d1;
  color: #f9f9f9;
}

.dashboard-example .contactUsButton button:focus {
  outline: none;
  background-color: #146bd2;
  color: #f9f9f9;
  border: 0px;
}

/*------------------TITLE------------------*/

.dashboard-example .titleRow p {
  margin-bottom: 20px;
}

.dashboard-example .titleRow h1 {
  margin: 0px;
  margin-bottom: 40px;
}

/*------------------CONTENT------------------*/

.dashboard-example p {
  font-weight: 300;
  margin-bottom: 0px;
}

.dashboard-example p:last-child {
  margin-bottom: 40px;
}

.dashboard-example h4 {
  margin-top: 0px;
}

.dashboard-example .mainContent {
  margin-bottom: 0px;
}

.dashboard-example .mainText h4 {
  margin-bottom: 20px;
}

.dashboard-example .graphicRowTitle {
  font-size: 18px;
}

.dashboard-example .graphicColumn {

}

.dashboard-example p + p {
  padding-top: 20px;
}

.dashboard-example p + h4 {
  padding-top: 40px;
}

/*------------------TABLE------------------*/
.dashboard-example .dataTables_length {
  display: none;
}

.dashboard-example .dataTables_filter {
  display: none;
}

.dashboard-example .dataTables_info {
  display: none;
}

.dashboard-example .dataTables_wrapper {

}

.dashboard-example .table-striped > tbody > tr:nth-child(odd) > td,
.dashboard-example .table-striped > tbody > tr:nth-child(even) > td {
  background-color: #f9f9f9;
  text-align: right;
}

.dashboard-example .table-bordered > thead > tr > th,
.dashboard-example .table-bordered > tbody > tr > th,
.dashboard-example .table-bordered > tfoot > tr > th,
.dashboard-example .table-bordered > thead > tr > td,
.dashboard-example .table-bordered > tbody > tr > td,
.dashboard-example .table-bordered > tfoot > tr > td {
  border: 0px;
  border-top: 1px solid #999999;
  white-space: nowrap;
}

.dashboard-example .table-bordered > tbody > tr:hover > td {
  background-color: #F0F0F0;
}

.dashboard-example table > tbody > tr:first-child > td {
  border-top: 0px;
}

.dashboard-example table > thead > tr > th {
  text-align: right;
  font-size: 12px;
  background-color: #414141;
  color: #f9f9f9;
  font-weight: 300;
}

.dashboard-example table.dataTable {
  border: 1px solid #999999;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.dashboard-example .table > tbody > tr > td {
  font-size: 12px;
  font-weight: 300;
}

.dashboard-example table.dataTable thead > tr > th,
.dashboard-example table.dataTable tbody > tr > td {
  padding: 10px;
  padding-right: 20px;
}

.dashboard-example table.dataTable thead > tr > th {
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.dashboard-example table.dataTable thead > tr > th.column8 {
  padding-right: 20px;
}

.dashboard-example table.dataTable tbody > tr > td.column8 {
  padding-right: 30px;
}

.dashboard-example table.dataTable thead .sorting,
.dashboard-example table.dataTable thead .sorting_asc,
.dashboard-example table.dataTable thead .sorting_desc {
  background: none;
  background-color: #222222;
}

.dashboard-example table.dataTable thead .sorting {
  background-color: #414141;
}

.dashboard-example table.dataTable thead .sorting:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 14px;
  width: 7px;
  height: 10px;
  background: url("../img/sort-arrows.svg") no-repeat center left;
}

.dashboard-example table.dataTable thead .sorting_desc:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 14px;
  width: 7px;
  height: 10px;
  background: url("../img/sort-arrows.svg") no-repeat center right;
}

.dashboard-example table.dataTable thead .sorting_asc:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 14px;
  width: 7px;
  height: 10px;
  background: url("../img/sort-arrows.svg") no-repeat center center;
}

.dashboard-example table.dataTable thead > tr > th.column8.sorting:after,
.dashboard-example table.dataTable thead > tr > th.column8.sorting_desc:after,
.dashboard-example table.dataTable thead > tr > th.column8.sorting_asc:after {
  right: 8px;
}

.dashboard-example table th.formattedText,
.dashboard-example .tableColumn {
  outline: none;
}

.dashboard-example .tableColumn {
  margin-bottom: 40px;
}

/*------------------PAGINATION ---------------*/
.dashboard-example .dataTables_paginate {
  display: none;
}

/*------------------TOOLTIP ---------------*/

.dashboard-example .tipsy {
  font-family: 'Open Sans', sans-serif !important;
}

.dashboard-example .tipsy-inner {
  max-width: 300px;
}

.dashboard-example .td.ccc-tt-dimValue {
  white-space: nowrap;
}

.dashboard-example .ccc-tt-ds .ccc-tt-dimLabel {
  color: #414141;
  font-weight: 300;
}

.dashboard-example .tipsy-inner hr {
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #cbcbcb;
  margin: 0px;
}

.dashboard-example .ccc-ext-tooltip-categorical.tipsy .tipsy-inner {
  background-color: #f9f9f9;
  border: 1px solid #cbcbcb;
  color: #414141;
  font-size: 12px;
  padding-bottom: 0px;
}

.dashboard-example .tipsy-inner .category {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  color: #414141;
}

.dashboard-example .tipsy-arrow {
  display: none !important;
}

.dashboard-example .series-detail tr:first-child .series,
.dashboard-example .series-detail tr:first-child .value {
  padding-top: 10px;
  padding-bottom: 5px;
  border: 0px;
}

.dashboard-example .series-detail tr:last-child .series,
.dashboard-example .series-detail tr:last-child .value {
  padding-top: 5px;
  padding-bottom: 10px;
}

.dashboard-example .series-detail tr .series,
.dashboard-example .series-detail tr .value {
  font-size: 12px;
  color: #414141;
  clear: both;
  height: 32px;
}

.dashboard-example .series-detail tr .series {
  text-align: left;
  width: 75px;
}

.dashboard-example .series-detail tr .value {
  text-align: right;
}

.dashboard-example .series-detail tr:last-child .color:after {
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #e5650e;
}

.dashboard-example .ccc-ext-tooltip-categorical .series-detail .color {
  top: 0px;
  position: relative;
  width: 15px;
}

.dashboard-example .series-detail tr:first-child .color:after {
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: rgb(97, 61, 155);
}

.dashboard-example .color {
  background-color: transparent !important;
  position: relative;
  width: 15px;
  display: inline-block;
}

.dashboard-example hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*------------------FOOTER ------------------*/
.dashboard-example .footer {
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 300;
}

.dashboard-example .panel-footer:before {
  background-color: #414141;
  content: "";
  position: absolute;
  left: 0px;
  min-width: 100%;
  width: 1200px;
  height: 51px;
  z-index: -1;
}

.dashboard-example .panel-footer {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  width: 100%;
  display: block;
  float: left;
}

.dashboard-example .pre-separator,
.dashboard-example .separator,
.dashboard-example .pos-separator {
  display: inline-block;
}

.dashboard-example .separator {
  position: relative;
  width: 10px;
  height: 10px;
}

.dashboard-example .separator:after {
  content: "";
  position: absolute;
  height: 12px;
  top: 0px;
  left: 5px;
  width: 1px;
  background-color: #f9f9f9;
}

.dashboard-example .footer_ctools {
  line-height: 50px;
  display: block;
  float: left;
  width: 100%;
}