.hidePopup {
  display: none;
}

.popupComponent {
  position: absolute;
  z-index: 10000;
  border: 6px solid #361b0a;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  padding: 20px 30px 0 10px;
  background-color: white;
}

.popupComponent a.close {
    position: absolute;
    text-decoration: none;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    background-image: url("img/close_button.png");
}
.popupComponent .arrow {
  position: absolute;
}

.popupComponent.east .arrow {
  background-image: url("img/vertex_l.png");
  height: 45px;
  width: 18px;
  left: -18px;
}
.popupComponent.west .arrow {
  background-image: url("img/vertex_r.png");
  height: 45px;
  width: 18px;
  right: -18px;
}
.popupComponent.north .arrow {
  background-image: url("img/vertex_d.png");
  height: 18px;
  width: 45px;
  bottom: -18px;
}
.popupComponent.south .arrow {
  background-image: url("img/vertex_u.png");
  top: -18px;
  height: 18px;
  width: 45px;
}

#popupComponentOverlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index:99;
}
