<html>
  <head>
    <title>Test</title>
    <script src='lib/jquery.js' type='text/javascript'></script>
    <script src='lib/underscore.js' type='text/javascript'></script>
    <script src='lib/backbone.js' type='text/javascript'></script>
    <script src='lib/mustache.js' type='text/javascript'></script>
    <script src='component.js' type='text/javascript'></script>
    <link rel='stylesheet' type='text/css' href='component.css' />
  </head>
<body>
  <h1>Test</h1>
  <div id='foo'></div>
  <script type='text/javascript'>
    var selectorModel = new SelectorModel({
      title: "foo selector",
      advancedSearch: true
    });

    selectorModel.updateValues([
    {label: 'foo', value: 'bar', "new": true},
    {label: 'foo1', value: 'bar1', "new": true},
    {label: 'foo2', value: 'bar2', "new": false},
    {label: 'foo3', value: 'bar3', "new": false},
    {label: 'foo4', value: 'bar4', "new": true}
    ]);
    var selectorView = new SelectorView({
      model: selectorModel,
      el: $("#foo").get(0)
    });
    selectorView.render();
  </script>
</body>
</html>
