<html>
<head>

<!-- Generico -->
<script src="../pentaho-cdf/js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/jquery.ui.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/jquery.blockUI.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/Base.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/Dashboards.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/CoreComponents.js" type="text/javascript" language="javascript"></script>
<script src="../pentaho-cdf/js/daterangepicker/daterangepicker.jQuery.js"  type="text/javascript" language="javascript"></script>
</head>

<body>
<script>
var component = {
	name: "myAjaxRequestComponent",
	type: "AjaxRequestComponent",
	htmlObject: "testComponent",
    url: "getFile?path=/cde/components/AjaxRequestComponent/component.xml",
    returnType: "xml"
};

$(function(){
	Dashboards.log("Starting test AjaxRequestComponent");
	Dashboards.init([component]);
	Dashboards.update(component);
});

</script>

<div class="container">
	<div id="firstRow" class="clearfix" style="width:75%">
		<div class="AjaxRequestComponentstyle" id="testComponent">
		</div>
	</div>
</div>

</body>

</html>
